body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 8px;

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.image-section {
    flex: 1;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
}

.form-section {
    margin-top: 100px;
    flex: 2;
    padding: 20px;
    margin-left: 50%;
    margin-bottom: 50px;
}

.form-section h2 {
    margin-top: 0;
}

.form-section p {
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

button:hover {
    background-color: #444;
}
.vl{
    position: absolute;
    top: 485px;
    left: 700px;
    height: 450px;
    border-left: 4px solid #0b1215;
    z-index: 110000;
}
.con img{
position: absolute;
border-radius: 6px;
top: 520px;
right: 900px;
width: 551px;
height: 400px;
object-fit: cover;
}
.contact-bg{
    height: 255px;
    background: linear-gradient(#ffffff,#398cb0);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.contact-bg h3{
    font-size: 20.8px;
    font-weight: 400;
    font-family: header;
}
.contact-bg h2{
    font-size: 48px;
    letter-spacing: 4px;
    font-family: header;

}
hr{
    width: 1200px;
}

